body {
    font-family: "Courier New", Courier, monospace;
    background-color: #f4f4f9;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: #525151;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 1em 0;
}
main {
    width: 90%;
    max-width: 800px;
    margin: 20px 0;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.card {
    background-color: #fff;
    border: 1px solid #af9b9b;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    padding: 20px;
    width: 100%;
    max-width: 250px;
    text-align: center;
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.1);
}
.card h3 {
    font-size: 1.3em;
    margin: 0.5em 0;
}
.card p {
    font-size: 0.95em;
    color: #525151;
}
.card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}
.card a:hover {
    background-color: #0689e1;
}
.progress-bar-container {
    width: 200px;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    color: #333;
}
.progress-bar {
    width: 20%;
    height: 100%;
    background-color: #ff0000;
    border-radius: 5px 0 0 5px;
    position: absolute;
    top: 0;
    left: 0;
}
.progress-text {
    position: relative;
    z-index: 1;
    line-height: 30px;
}

button {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    color: white;
    background-color: #525151;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover {
    background-color: #ff0000;
    transform: translateY(-2px);
}
button:active {
    transform: translateY(1px);
    background-color: #730404;
}
iframe{
    display: flex;
    flex-direction: column;
    align-items: center;
}